*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background-color: #48070F;
    overflow-x: hidden;
}
#home
{
    width: 100%;
    height: 100%;
    background-image:#48070F;
    
}
.nav-icon
{
    background-color: #B66D00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 50px;
    z-index: 2;
}
.nav-icon>#menu
{
    font-size: 40px;
    cursor: pointer;
    
}
.navbar
{
    width: 30%;
    min-width: 360px;
    height: 100px;
    border-radius: 90px;
    background-color: #B66D00;
    box-shadow:0px 0px 20px 0px #b53744;
    color:whitesmoke;
    font-size:1.5rem;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    display: none;

}
.navbar>ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-left: 10%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    
}
.navbar>ul>li:hover{
    background-color: #000000;
    border-radius: 6px;
    transition: all 0.4s;
}
.navbar>ul>li{
    cursor: pointer;
    padding: 5px;
}
.navbar>ul>li>a{
    color:white;
    text-decoration: none;
}
#content
{
    width: 100%;
    height: 70%;
    position:absolute;
    top:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content>.photo
{
    width: 40%;
    min-width: 240px;
    height: 100%;
    margin-left: 5px;
    overflow: hidden;
   
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all 1s;
    
}
.photo img:hover{
    transform: scale(1.3);
}

.text
{
    width: 55%;
    min-width:400px;
    display: flex;   
    flex-direction: column;
    align-items: end;
    justify-content: center;
   
}
.text>.basic
{
    text-align: center;
    width: 60%;
    color: orange;
}
.navbar.active
{
    transform: translate(0%);
    transform-origin: left;
    animation: color 3s ease-in-out ;
}
@keyframes color {
    0%
    {
        transform: translate(-100%);
        background-color: transparent;
    }
    50%
    {
        transform: translate(0%);
    }
    100%
    {
        background-color:#B66D00;
    }
    
}
.links
{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.links>.github a,.links>.linkedin a
{
    text-decoration: none;
    background-color: #3007c5;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 0.7rem;
    margin: 15px 12px;
    cursor: pointer;
}
#about
{
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: 0% 50%;
    background-image: linear-gradient(45deg,rgb(154, 40, 40),rgb(183, 119, 130),#48070F);
    animation: background 7s ease-in-out infinite;
}
@keyframes background {
            0%
            {
                background-position: 0% 50%;
            }
            50%
            {
                background-position: 100% 50%;
            }
            100%
            {
                background-position: 0% 50%;
            } 
    
}
#about .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading
{
    padding: 20px;
    background-color: #48070F;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
    transition: all 0.5s linear;
    box-shadow:0px 0px 10px 5px #b53744;
  
}
.heading h1{
    font-size: 100px;
}
.aboutme>ul{
    list-style: none;
}
.aboutme>ul>.category>li{
    font-size: 30px;
    padding: 15px 0px;
}
.category
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #48070F;
    color:white;
    box-shadow:0px 0px 10px 5px #b53744;
}
.category>.drop
{
    font-size: 45px;
    cursor: pointer;
    
}
#skill
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
}

#skill>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    top:50%;
    left: 50%;
    text-wrap: nowrap;
    transform: translate(-50%,-50%);
    
}
#education
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
}
#education>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    text-wrap: nowrap;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#hobbies
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
}
#hobbies>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    text-wrap: nowrap;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.heading.activate{
    transform: translateX(-300%);
}
.heading.deactivate{
    transform: translateX(0%);
}
.category>.open
{
    display: none;
    font-size: 45px;
    cursor: pointer;
}
::-webkit-scrollbar
{
   
    background-color: transparent;
    width: 3px;
}
::-webkit-scrollbar-thumb
{
    background-color: #B66D00;   
    
    border-radius: 40px;    
}
#contact
{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: 0% 50%;
    background-image: linear-gradient(135deg,rgb(154, 40, 40),rgb(183, 119, 130),#48070F);
    animation: background 7s ease-in-out infinite;
}
#contact>.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact>.container>form{
    width: 60%;
    height: 60%;
    align-self: center;
}

.social
{
    
    width: 30%;
    height: 60%;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.social>a>img{
    width: 40px;
    
}
.social a{
    width: 40px;
    cursor: pointer;
}
#contact h2{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #B66D00;
    padding: 10px;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: #48070F;
    text-wrap: nowrap;
    box-shadow:0px 0px 10px 5px #b53744;

}