*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background-color: #48070F;
    overflow-x: hidden;
}
#home
{
    width: 100%;
    height: 100%;
    background-image:#48070F;
    
}
.nav-icon
{
    background-color: #B66D00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 50px;
    z-index: 2;
}
.nav-icon>#menu
{
    font-size: 40px;
    cursor: pointer;
}
.navbar
{
    width: 30%;
    min-width: 360px;
    height: 100px;
    border-radius: 90px;
    background-color: #B66D00;
    box-shadow:0px 0px 20px 0px #b53744;
    color:whitesmoke;
    font-size:1.5rem;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    display: none;
}
.navbar>ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-left: 10%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    
}
.navbar>ul>li:hover{
    background-color: #000000;
    border-radius: 6px;
    transition: all 0.4s;
}
.navbar>ul>li{
    cursor: pointer;
    padding: 5px;
}
.navbar>ul>li>a{
    color:white;
    text-decoration: none;
}
#content
{
    width: 100%;
    height: 70%;
    position:absolute;
    top:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content>.photo
{
    width: 40%;
    min-width: 240px;
    height: 100%;
    margin-left: 5px;
    overflow: hidden;
   
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all 1s;
    
}
.photo img:hover{
    transform: scale(1.3);
}

.text
{
    width: 55%;
    min-width:400px;
    display: flex;   
    flex-direction: column;
    align-items: end;
    justify-content: center;
   
}
.text>.basic
{
    text-align: center;
    width: 60%;
    color: orange;
}
.navbar.active
{
    transform: translate(0%);
    transform-origin: left;
    animation: color 3s ease-in-out ;
}
@keyframes color {
    0%
    {
        transform: translate(-100%);
        background-color: transparent;
    }
    50%
    {
        transform: translate(0%);
    }
    100%
    {
        background-color:#B66D00;
    }
    
}
.links
{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.links>.github a,.links>.linkedin a
{
    text-decoration: none;
    background-color: #3007c5;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 0.7rem;
    margin: 15px 12px;
    cursor: pointer;
}
#about
{
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: 0% 50%;
    background-image: linear-gradient(45deg,rgb(154, 40, 40),rgb(183, 119, 130),#48070F);
    animation: background 7s ease-in-out infinite;
}
@keyframes background {
            0%
            {
                background-position: 0% 50%;
            }
            50%
            {
                background-position: 100% 50%;
            }
            100%
            {
                background-position: 0% 50%;
            } 
    
}
#about .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.heading
{
    padding: 20px;
    background-color: #48070F;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
    transition: all 0.5s linear;
    box-shadow:0px 0px 10px 5px #b53744;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.heading h1{
    font-size: 100px;
}
.aboutme>ul{
    list-style: none;
}
.aboutme>ul>.category>li{
    font-size: 30px;
    padding: 15px 0px;
}
.category
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #48070F;
    color:white;
    box-shadow:0px 0px 10px 5px #b53744;
    transition: all 1s;
}
.category>.drop
{
    font-size: 45px;
    cursor: pointer;
    
}
#skill
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
    box-shadow:0px 0px 10px 5px #b53744;
}

#skill>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    top:50%;
    left: 50%;
    text-wrap: nowrap;
    transform: translate(-50%,-50%);
    
}
#education
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
    box-shadow:0px 0px 10px 5px #b53744;
    
}
#education>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    text-wrap: nowrap;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#hobbies
{
    display: none;
    width: 50%;
    height: 60%;
    border-radius: 100px;
    background-color:#B66D00;
    color:whitesmoke;
    position: relative;
    box-shadow:0px 0px 10px 5px #b53744;
    
}
#hobbies>ul{
    list-style:"⇒ ";
    font-size: 25px;
    position: absolute;
    text-wrap: nowrap;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.heading.activate{
    transform: translateX(-400%);
   animation: left 2s ease-in-out;
}
@keyframes left {
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-400%);
    }
    
}
.heading.deactivate{
    
    transform: translateX(0%);
    animation: right 2s ease-in-out;
}
@keyframes right {
    0%
    {
        transform: translateX(-400%);
    }
    100%{
      transform: translateX(0%);
    }

    }
.category>.open
{
    display: none;
    font-size: 45px;
    cursor: pointer;
    
}
::-webkit-scrollbar
{
   
    background-color: transparent;
    width: 3px;
}
::-webkit-scrollbar-thumb
{
    background-color: #B66D00;   
    
    border-radius: 40px;    
}
#contact
{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: 0% 50%;
    background-image: linear-gradient(135deg,rgb(154, 40, 40),rgb(183, 119, 130),#48070F);
    animation: background 7s ease-in-out infinite;
}
#contact>.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
#contact>.container>form{
    width: 60%;
    height: 60%;
}

.social
{
    
    width: 30%;
    height: 60%;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.social>a>img{
    width: 40px;
    box-shadow:0px 0px 10px 5px #b53744;
    border-radius: 50%;
    
}
.social a{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
#contact h2{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #B66D00;
    padding: 10px;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: #48070F;
    text-wrap: nowrap;
    box-shadow:0px 0px 10px 5px #b53744;

}
.social img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 426px) {
   .navbar>ul{
   font-size: 18px;
   height: 60px;
   padding-left: 0px;
   }
   .navbar{
    min-width: 280px;
    height: 60px;
   }
    #content>.photo
    {
        display: none;
    }
    #content>.text{
        align-items: center;
        justify-self: center;
    }
    #about>.container
    {
        display: flex;
        flex-direction: column;
    }
    #about>.container>.heading>h1{
        font-size: 70px;
    }
    #about>.container>.aboutme>ul>.category>li{
        font-size: 20px;
    }
    #about>.container>.aboutme>ul>.category
    {
        height: 40px;
    }
    #about>.container>.aboutme>ul>.category>.drop{
        font-size: 25px;
    }
    #about>.container>.aboutme>ul>.category>.open{
        font-size: 25px;
    }
    #skill
    {
        width: 80%;
    }
    #skill>ul
    {
        font-size: 15px;
    }
    #education
    {
        width: 80%;
    }
    #education>ul
    {
        font-size: 15px;
    }
    #hobbies
    {
        width: 80%;
    }
    #hobbies>ul
    {
        font-size: 18px;
    }
    #contact>.container
    {
        flex-direction: column;
        height: 80%;
        position: relative;
        top:20%;
        
    }
    #contact>.container>form
    {
        width: 100%;
        height: 80%;
    }
    #contact>.container>.social
    {
       height: 20%;
       width: 100%;
    }

}
@media  screen and (min-width: 2560px) {
    .nav-icon
    {
        width: 500px;
        height: 500px;
        
    }
    .nav-icon>#menu
    {
      font-size: 120px;
      transform: translate(-50%,-50%);
    }
    .navbar{
       min-width: 60%;
       height: 150px;
    }
    .navbar ul
    {
        height: 150px;
    }
    .navbar>ul>li
    {
        font-size: 60px;
    }
    #content>.text>.basic
    {
        font-size: 40px;
    }
    #content>.text>.basic>h1
    {
        font-size: 80px;
    }
    #content>.text>.basic>h4
    {
        font-size: 50px;
    }
    .links>.github{
       margin: 20px;
    }
    .links>.github a{
        width: 100%;
        height: 80px;
        font-size: 30px;
    }
    .links>.linkedin{
        margin: 20px;
     }
    .links>.linkedin a{
        width: 100%;
        height: 80px;
        font-size: 30px;
    }
    #about>.container>.heading
    {
        width: 550px;
        height: 300px;
        
    }
    #about>.container>.heading h1
    {
        font-size: 150px;
    }
    #about>.container>.aboutme>ul>.category>li{
        font-size: 50px;
    }
    #about>.container>.aboutme>ul>.category
    {
        width: 300px;
        height: 140px;
    }
    #about>.container>.aboutme>ul>.category>.drop{
        font-size: 50px;
    }
    #about>.container>.aboutme>ul>.category>.open{
        font-size: 50px;
    }
    #skill
    {
        width: min-content;
        padding: 40px;
    }
    #skill>ul
    {
        font-size: 50px;
    }
    #education
    {
        width: min-content;
        padding: 40px;
    }
    #education>ul
    {
        font-size: 50px;
    }
    #hobbies
    {
        width: min-content;
        padding: 40px;
    }
    #hobbies>ul
    {
        font-size: 50px;
    }
    #contact h2
    {
        margin-top: 20px;
        font-size: 65px;
    }
    #contact>.container
    {
        flex-direction: column;
        height: 80%;
        position: relative;
        top:20%;
        
    }
    #contact>.container>form input
    {
        height: 120px;
        font-size: 30px;
    }
    #contact>.container>form
    {
        width: 100%;
        height: 70%;
        font-size: 40px;
    }
    #contact>.container>form>.row>.col>.form-floating>#floatingInput
    {
        min-height: 150px;
        font-size: 40px;
    }
    #contact>.container>form>.form-floating>#floatingInput
    {
        min-height: 150px;
        font-size: 40px;
    }
    #contact>.container>form>.form-floating
    {
        font-size: 40px;
    }
    #contact>.container>form>#form-floating>#floatingTextarea2
        {
            font-size: 40px;
            min-height: 500px;
        }
    #contact>.container button
    {
        width: 200px;
        height: 80px;
        font-size: 40px;
    }
        
    #contact>.container>.social
    {
        height: 20%;
        width: 100%;
    }
    #contact>.container>.social img
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    #contact>.container>.social a
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}